<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<style>
    #topbrd{
        font-size: 30px;
        padding: 10px;
    }
    h1{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 30px;
        color: #ffffff;
    }
    h6{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 14px;
        color: #ffffff;
    }
    h7{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 20px;
        color: #000000;
    }
    h8{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 15px;
        color: #333333;
        padding: 10px;
    }
    #inputbub0{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 13px;
        color: #ffffff;
    }
    #inputbub{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 13px;
        color: #333333;
    }
    #showbub{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 22px;
        color: #ffffff;
    }
    #bubbutton{
        padding: 18px;
    }
    #bubbutton1{
        padding: 18px;
        width: 250px;
    }
    #chkbox{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 20px;
        color: #000000;
    }
    #picshow{
        padding: 10px;
    }
    #txtshow{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 15px;
        color: #333333;
    }
    .new_Btn{
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        border-width: 15px;
        padding: 15px;
        border: 15px solid gray;
        border-color: white;
        border-radius: 15px;
        margin: 15px;
        color:#ffffff;
    }
    .new_Btn2{
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        color:#000000;
    }
    #pac-input:focus {
      border-color: #4d90fe;
    }
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 300px;
    }
    .pac-container {
      font-family: Roboto;
    }
    #custommarker{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 15px;
        color: #333333;
    }
</style>




<body class="fullscreen background" style="background-image:url('/bg_main_sign_in.png'); height:1200px; width:auto; overflow:auto;">
    <!--<nav class="navbar navbar-custom navbar-static-top">-->
    <nav class="navbar navbar-default">

            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><%= current_user.email %> <span class="sr-only">(current)</span></a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;">
                <a href="/users/sign_out" data-method="delete" class="btn btn-secondary"> Sign Out </a>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
                <a href="#myModal" class="portfolio-link" data-toggle="modal" style="color: #333333;" >
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <p>See Your Timeline</p>
                </a>
            </ul>
            
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <form name="checkboxForm" id="checkboxForm" action= '/show' method = 'get'>
                        <input id="1cb" type="checkbox" name="btntype[]" value=1 onclick="cbcheck()"><ul id="chkbox">index1</ul><br>
                        <input id="2cb" type="checkbox" name="btntype[]" value=2 onclick="cbcheck()"><ul id="chkbox">index2</ul><br>
                        <input id="3cb" type="checkbox" name="btntype[]" value=3 onclick="cbcheck()"><ul id="chkbox">index3</ul><br>
                        <%@custom.each_with_index do |p, i|%>
                            <input class="chkbox" id="<%=i+4%>cb" type="checkbox" name="btntype[]" value=<%=i+4%> onclick="cbcheck()"><ul id="chkbox"><%=p.indexname%></ul><br>
                        <% end %>
                    <li role="separator" class="divider"></li>
                        <input id="btnselect" type="submit" value="What You Want to See" class="btn btn-success" disabled>
                    </form>
                  </ul>
                </li>
                <li><button type="button" class="btn btn-success" id="info">Click me</button></li>
                <script>

                    var content='<%=form_tag "/makemarker", method:"post", enctype:"multipart/form-data" do %>'+
                                    '<input type="hidden" name="user" value=<%=current_user.id%>>'+
                                    '<input type="text" name="indexname" id="custommarker">'+
                                    '<div class="new_Btn2">Select Picture</div>'+
                                    '<input type="file" name="image_file" id="html_btn2">'+
                                    '<div style="text-align:center"><input type="submit" value="OK" class="btn btn-success"></div><% end %>';
                      
        
                    $(document).ready(function(){
                        
                        $('[id=info]').popover({title: "choose feeling", content: content, html:true, placement: "right"});

                    });
                    $('.new_Btn2').bind("click",function(){
                        $('#html_btn2').click();
                    });
                </script>
            </ul>
            
        </div>
      </div>

    </nav>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-right: 5px">
    
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="modal-header">
                        <h4 class="modal-title"> Timeline </h4>
                    </div>
                    <div class="modal-body" style="width: 500px;">
                        <% @memos.each_with_index do |p ,i| %>
                            <h7> <%=p.title%> </h7> <div style="text-align:right;"> <%=p.shigan%>. </div>
                            <img src="<%=p.my_image.timeline.url%>" style="padding: 10px;"> 
                            <h8> <%=p.content%> </h8>
                            <br>
                            <%=form_tag '/goto', method:'post' do %>
                                <input type="hidden" name="latitude" value=<%=p.lat%>>
                                <input type="hidden" name="longitude" value=<%=p.lng%>>
                                <div style="text-align:right;">
                                <button type="submit" class="btn btn-success"> Go there! </button>
                                </div>
                            <% end %>
                            <br>
                        <% end %>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="content">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">        
    <div id="map"></div>
    <script>
        var lat=37;
        var lng=127;
    </script>
    <% if @memos[0] != nil%>

        <script>
            var lat=<%=@lat%>;
            var lng=<%=@lng%>;
            if (lat==37 && lng==127){
                lat=<%=@memos.last.lat%>;
                lng=<%=@memos.last.lng%>;
            }            
        </script>
    <% end %>
</div>

<div id="footer">
<adress id="adresssty">
    © 
    <strong>
        <a target="_blank">JEONBYULJUN Corp.</a>
    </strong>
</adress>
</div>

<!--infobubble style-->
<style>
    #styles, #add-tab {
        float: left;
        margin-top: 10px;
        width: 400px;
    }
    #styles label,
    #add-tab label {
        display: inline-block;
        width: 130px;
    }
    .phoney {
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
        background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
    }
    .phoneytext {
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 16px;
        line-height: 25px;
        padding: 4px 45px 4px 15px;
        font-weight: bold;
        background: url(../images/arrow.png) 95% 50% no-repeat;
    }
    .phoneytab {
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 18px;
        background: rgb(112,112,112) !important;
    }
</style>

<script>

function cbcheck(){
    for(var i=1; i<4+<%=@custom.length%>; i++){
        var temp = i+"cb"
        if(document.getElementById(temp).checked){
            document.getElementById("btnselect").disabled = false;
        
            return;
        }
        
    }
    document.getElementById("btnselect").disabled = true;
    
}
var buttoncount = -1;
var temp = 1;
function handleClick(type){
    temp = type.value;
}
function abling(val){
    document.getElementsByName('buttonsub')[buttoncount].disabled = false;
    document.getElementsByName('btntype')[buttoncount].value = val;
}

// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.
var mapCanvas = document.getElementById('map');


function initMap() {
    
    mcOptions = {styles: [{
                    height: 45,
                    url: "c1.jpg",
                    width: 45
                },
                {
                    height: 55,
                    url: "c2.jpg",
                    width: 55
                },
                {
                    height: 65,
                    url: "c3.jpg",
                    width: 65
                },
                {
                    height: 75,
                    url: "c4.jpg",
                    width: 75
                },
                {
                    height: 85,
                    url: "c5.jpg",
                    width: 85
                }]};
    
    

    var mapOptions = {
      center: new google.maps.LatLng(lat, lng),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);

    var markerclusterer;
    var markers = [];

    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    
    map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
    });
    
    searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();
    
        if (places.length == 0) {
          return;
        }
    

    
        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };
    
          // Create a marker for each place.
          new google.maps.Marker({
            map: map,
            icon: icon,
            title: place.name,
            position: place.geometry.location
          });
    
          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
    });
    
    var infoBubbleArray = [];
    <% @memos.each_with_index do |p ,i| %>
        if(<%=p.button%> == 1){
            var images = 'image.png';
        }
        else if(<%=p.button%> == 2){
            var images = 'images2.jpg';
        }
        else if(<%=p.button%>==3){
            var images = 'images3.jpg';
        }
        else{
            var images
            <%@custom.each_with_index do |a, index| %>
                <%if index+4 == p.button%>
                    images = '<%=a.markerimage.marker.url%>';     
                <% end %>
            <% end %>
        }
        marker = new google.maps.Marker({
            map: map,
            icon: images,
            position: {lat: <%=p.lat%>, lng: <%=p.lng%>},
            animation: google.maps.Animation.DROP,
        });
        



        (function(marker){

            var tt = "<%=p.title%>"
            var tc = "<%=p.content%>"
            var ttr = tt.replace(/&lt;br&gt;/g,"\r\n")
            var tcr = tc.replace(/&lt;br&gt;/g,"\r\n")
            var temp;
            
            var contentString2 = 
            '<div id="infowindow">'+
            '<p class="temp" id="showbub">My Place </p>'+
            '<div id="wrapper" class="container">'+
            '<li id="txtshow">'+
            ttr +
            '</li>'+
             '</div>'+
            '<img src="<%=p.my_image.url%>" id="picshow">'+
            '<p class="temp" id="showbub">Content </p>'+
            '<div id="wrapper" class="container">'+
            '<li id="txtshow">'+
            tcr +
            '</li>'+
            '</div>'+
            '<p class="temp" id="showbub">Visited at </p>'+
            '<div id="wrapper" class="container">'+
            '<li id="txtshow">'+
            '<%=p.shigan%>' +
            '</li>'+
            '</div>'+
            '<div id="bubbutton1">'+
            '<%=form_tag '/delete', method:'post' do %>'+
            '<input type="hidden" name="id" value='+
            '<%=p.id%>'+
            '><input type="submit" value="Delete!" onClick="this.style.visibility=\'hidden\'" class="btn btn-success" style="margin-bottom: 10px;"><% end %>'+
            '<%=form_tag '/edit', method:'post' do%>'+
            '<input type="hidden" name="id" value='+
            '<%=p.id%>'+
            '><input type="submit" value="Edit!" onClick="this.style.visibility=\'hidden\'" class="btn btn-success"><%end%>'+
            '</div>'+
            '</div>';
            
            infoBubble = new InfoBubble({
                maxWidth: 350,
                minWidth: 350,
                maxHeight: 500,
                minHeight: 500,
                backgroundColor: 'rgb(51,51,51)',
                borderWidth: 1,
                borderRadius: 4,
                borderColor: '#000000'
            });   
            infoBubble.addTab('your place', contentString2);
            google.maps.event.addListener(infoBubble, 'closeclick', function(){
                marker.setAnimation(null);
            });
            infoBubbleArray.push(infoBubble);
            var newinfoBubble = infoBubbleArray[<%=i%>];
            google.maps.event.addListener(marker, 'click', function(){
                newinfoBubble.open(map,marker);
                marker.setAnimation(google.maps.Animation.BOUNCE);   
            });


        })(marker);
        markers.push(marker);
    <% end %>
    markerclusterer = new MarkerClusterer(map, markers, mcOptions);
    //var infowindowot = new google.maps.InfoWindow({});
    var markertemp = [];
    var infoBubble1;
    var infoBubbleTemp = [];
    google.maps.event.addListener(map, 'rightclick', function(event) {
        $(function () {$('[id=datetimepicker]').datepicker('hide');});
        buttoncount += 1;
        for(var i=0; i<infoBubbleTemp.length; i++){
            if(infoBubbleTemp[i] != null){
                infoBubbleTemp[i].close();
                delete infoBubbleTemp[i];
            }

        }
        for(var i=0; i<markertemp.length; i++){
            markertemp[i].setMap(null);
        }
        
        startLocation = event.latLng;
        var mark = new google.maps.Marker({
          position: startLocation,
          map: map
        });
        //mark.setIcon(images);
        mark.setAnimation(google.maps.Animation.BOUNCE);

        var str = "";
        for(var i=1; i< 4; i++){
            str += '<input type="radio" name="btnt" value="'+i+'" onclick="abling('+i+')">index'+i+'<br>'
        }
        <%@custom.each_with_index do |p,i|%>
            str += '<input type="radio" name="btnt" value="'+<%=i+4%>+'" onclick="abling('+<%=i+4%>+')"><%=p.indexname%><br>'
        <% end %>
        var contentString = '<div id="infobox">'+
                            '<div class="title"><h1>MY TRIP<span class="glyphicon glyphicon-send" aria-hidden="true"></span></h1></div>'+
                            '<%=form_tag '/make', method:'post', enctype:'multipart/form-data' do %><div class="form-group"><label for="comment" id="inputbub0">Your Place</label><textarea name="tit" class="form-control" row="1" id="inputbub"></textarea></div><div class="form-group"><label for="comment" id="inputbub0">Content</label><textarea name="con" class="form-control" row="4" id="inputbub"></textarea></div>'+
                            '<div class="container">'+
                            '<h6>Choose Your Icon</h6>'+
                            '<div id="bubbutton">'+
                            '<button type="button" class="btn btn-success" id="infob">Click me</button>'+
                            '</div>'+
                            '</div>'+
                            '<h6>Take your pics</h6>'+
                            '<div class="new_Btn">Select Picture</div><br>'+
                            '<input type="file" name="image_file" id="html_btn">'+
                            '<input type="hidden" name="time" value=<%=Time.now%>>'+
                            '<input type="hidden" name="latitude" value='+
                            startLocation.lat()+
                            '><input type="hidden" name="longitude" value='+
                            startLocation.lng()+
                            '>'+
                            '<input id="btnvalue" type="hidden" name="btntype", value="1">'+
                            '<br>'+
                            '<div class="container">'+
                            '<div class="row">'+
                            '<div class="col-sm-3">'+
                            '<input type="text" class="form-control" data-date-format="dd/mm/yyyy" id="datetimepicker" name="spotdate">'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '<div id="bubbutton">'+
                            '<input id="sum" type="submit" onClick="this.style.visibility=\'hidden\'" class="btn btn-success" name="buttonsub" disabled></div><% end %></div>';
        infoBubble1 = new InfoBubble({
            maxWidth: 350,
            minWidth: 350,
            maxHeight: 570,
            minHeight: 570,
            backgroundColor: 'rgb(51,51,51)',
            shadowStyle: 2,
            borderWidth: 1,
            borderRadius: 4,
            borderColor: '#000000'
        });                           
        infoBubbleTemp.push(infoBubble1);

        google.maps.event.addListener(infoBubble1, 'closeclick', function(){
            $(function () {$('[id=datetimepicker]').datepicker('hide');});
            mark.setMap(null);
        });
        
        infoBubble1.addTab('add your place', contentString)
        infoBubble1.open(map, mark);
        markertemp.push(mark);

        google.maps.event.addListener(infoBubble1, 'domready', function(){
            $(document).ready(function(){
                $('[id=infob]').popover({title: "Choose Feeling", content: str,html: true, placement: "right"});  
            });
            $('[id=datetimepicker]').datepicker("setDate","0");
            $('[id=datetimepicker]').datepicker('hide');
            $('.new_Btn').bind("click",function(){
                $('#html_btn').click();
            });
        });

    });
    // infobubble function
    
    google.maps.event.addDomListener(document.getElementById('update'),
        'click', updateStyles);
    google.maps.event.addDomListener(document.getElementById('add'),
        'click', addTab);
    google.maps.event.addDomListener(document.getElementById('update-tab'),
        'click', updateTab);
    google.maps.event.addDomListener(document.getElementById('remove'),
        'click', removeTab);
    google.maps.event.addDomListener(document.getElementById('open'),
        'click', function() {
        infoBubble1.open();
    });
    google.maps.event.addDomListener(document.getElementById('close'),
        'click', function() {
        infoBubble1.close();
    });
    
    google.maps.event.addDomListener(window, 'load', init);
}
function updateStyles() {
    var shadowStyle = document.getElementById('shadowstyle').value;
    infoBubble.setShadowStyle(shadowStyle);
    var padding = document.getElementById('padding').value;
    infoBubble.setPadding(padding);
    var borderRadius = document.getElementById('borderRadius').value;
    infoBubble.setBorderRadius(borderRadius);
    var borderWidth = document.getElementById('borderWidth').value;
    infoBubble.setBorderWidth(borderWidth);
    var borderColor = document.getElementById('borderColor').value;
    infoBubble.setBorderColor(borderColor);
    var backgroundColor = document.getElementById('backgroundColor').value;
    infoBubble.setBackgroundColor(backgroundColor);
    var maxWidth = document.getElementById('maxWidth').value;
    infoBubble.setMaxWidth(maxWidth);
    var maxHeight = document.getElementById('maxHeight').value;
    infoBubble.setMaxHeight(maxHeight);
    var minWidth = document.getElementById('minWidth').value;
    infoBubble.setMinWidth(minWidth);
    var minHeight = document.getElementById('minHeight').value;
    infoBubble.setMinHeight(minHeight);
    var arrowSize = document.getElementById('arrowSize').value;
    infoBubble.setArrowSize(arrowSize);
    var arrowPosition = document.getElementById('arrowPosition').value;
    infoBubble.setArrowPosition(arrowPosition);
    var arrowStyle = document.getElementById('arrowStyle').value;
    infoBubble.setArrowStyle(arrowStyle);
    var closeSrc = document.getElementById('closeSrc').value;
    infoBubble.setCloseSrc(closeSrc);
}
function addTab() {
    var title = document.getElementById('tab-title').value;
    var content = document.getElementById('tab-content').value;
    if (title !== '' && content !== '') {
        infoBubble.addTab(title, content);
    }
}
function updateTab() {
    var index = document.getElementById('tab-index-update').value;
    var title = document.getElementById('tab-title-update').value;
    var content = document.getElementById('tab-content-update').value;
    if (index) {
        infoBubble.updateTab(index, title, content);
    }
}
function removeTab() {
    var index = document.getElementById('tab-index').value;
    infoBubble.removeTab(index);
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xWsRsM--vAOE_I9dv-ljLh-nO6IU0pU&signed_in=false&libraries=places&callback=initMap&language=en"></script>

</body>