<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<style>
    #topbrd{
        font-size: 30px;
        padding: 10px;
    }
    h1{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 30px;
        color: #000000;
    }
    h6{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 14px;
        color: #ffffff;
    }
    #inputbub0{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 13px;
        color: #ffffff;
    }
    #inputbub{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 13px;
        color: #333333;
    }
    #showbub{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 22px;
        color: #ffffff;
    }
    #bubbutton{
        padding: 18px;
    }
    #bubbutton1{
        padding: 18px;
        width: 250px;
    }
    #chkbox{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 13px;
        color: #ffffff;
    }
</style>
<h1>Edit Page</h1>

<div id="map"></div>

<script>
var buttoncount = 0;
function abling(val){
    document.getElementsByName('btntype')[0].value = val;
    buttontemp = val;
}
var titleedit ="bugcode:1dvqw121bsaxashhh";
var contentedit = "bugcode:1dvqw121bsaxashhh";
var buttontemp = -1;
function detection1(val){
    titleedit = val;
}
function detection2(val){
    contentedit = val;
}
function initMap() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(<%=@temp.lat%>, <%=@temp.lng%>),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
    if(<%=@temp.button%> == 1){
        var images = 'image.png';
    }
    else if(<%=@temp.button%> == 2){
        var images = 'images2.jpg';
    }
    else if(<%=@temp.button%>==3){
        var images = 'images3.jpg';
    }
    else{
        var images
        <%@custom.each_with_index do |a, index| %>
            <%if index+4 == @temp.button%>
                images = '<%=a.markerimage.marker.url%>';     
            <% end %>
        <% end %>
        
        
    }
    marker = new google.maps.Marker({
        map: map,
        icon: images,
        position: {lat: <%=@temp.lat%>, lng: <%=@temp.lng%>},
        animation: google.maps.Animation.DROP,
        draggable: true
    });
    (function(marker){
        var tt = "<%=@temp.title%>"
        var tc = "<%=@temp.content%>"
        var lat = <%=@temp.lat%>;
        var lng = <%=@temp.lng%>;
        var str = "";
        for(var i=1; i< 4; i++){
            str += '<input type="radio" name="btnt" value="'+i+'" onclick="abling('+i+')">index'+i+'<br>'
        }
        <%@custom.each_with_index do |p,i|%>
            str += '<input type="radio" name="btnt" value="'+<%=i+4%>+'" onclick="abling('+<%=i+4%>+')"><%=p.indexname%><br>'
        <% end %>
        var contentString = '<div id="infobox">'+
                            '<%=form_tag '/update', method:'post' do %><div class="form-group"><label for="comment">Title:</label><textarea name="tit" class="form-control" row="1" onchange="detection1(this.value)">'+
                            tt+
                            '</textarea></div><div class="form-group"><label for="comment">Content:</label><textarea name="con" class="form-control" row="4" onchange="detection2(this.value)">'+
                            tc+
                            '</textarea></div>'+
                            '<div class="container">'+
                              '<h6>Click to Change Index</h6>'+
                              '<button type="button" class="btn btn-success" id="infob">Change Marker Image</button>'+
                            '</div>'+
                            '<input type="hidden" name="id" value='+
                            '<%=@temp.id%>'+
                            '>'+
                            '<input type="hidden" name="latitude" value='+
                            <%=@temp.lat%>+
                            '><input type="hidden" name="longitude" value='+
                            <%=@temp.lng%>+
                            '>'+
                            '<input type="hidden" name="btntype" value='+
                            <%=@temp.button%>+
                            '>'+
                            '<input type="submit" value="Edit!" class="btn btn-success"><%end%>'+
                            '<p>'+
                            lat+
                            '<br>'+
                            lng+
                            '</p>'+
                            '</div>';
        //infowindow = new google.maps.InfoWindow({
        //    content: contentString
        //});
        //infowindow.open(map, marker);
        infoBubble3 = new InfoBubble({
            maxWidth: 350,
            minWidth: 350,
            backgroundColor: 'rgb(200,255,255)',
            bordercolor: '#2c2c2c',
            shadowStyle: 2
        });
        infoBubble3.addTab('edit your place', contentString);
        infoBubble3.open(map, marker);
        google.maps.event.addListener(infoBubble3, 'domready', function(){
            $(document).ready(function(){
                $('[id=infob]').popover({title: "Choose Feeling", content: str,html: true, placement: "right"});  
            });
        });
        google.maps.event.addListener(marker, 'dragend', function(event){
            buttoncount += 1;
            if(titleedit == "bugcode:1dvqw121bsaxashhh"){
                titleedit = "<%=@temp.title%>";
            }
            if(contentedit == "bugcode:1dvqw121bsaxashhh"){
                contentedit = "<%=@temp.content%>";
            }
            if(buttontemp == -1){
                buttontemp = "<%=@temp.button%>";
            }
            var temps = '<div id="infobox">'+
                    '<%=form_tag '/update', method:'post' do %><div class="form-group"><label for="comment">Title:</label><textarea name="tit" class="form-control" row="1" onchange="detection1(this.value)">'+
                    titleedit+
                    '</textarea></div><div class="form-group"><label for="comment">Content:</label><textarea name="con" class="form-control" row="4" onchange="detection2(this.value)">'+
                    contentedit+
                    '</textarea></div>'+
                    '<div class="container">'+
                      '<h6>Click to Change Index</h6>'+
                      '<button type="button" class="btn btn-success" id="infob">Change Marker Image</button>'+
                    '</div>'+
                    '<input type="hidden" name="id" value='+
                    '<%=@temp.id%>'+
                    '>'+
                    '<input type="hidden" name="latitude" value='+
                    event.latLng.lat()+
                    '><input type="hidden" name="longitude" value='+
                    event.latLng.lng()+
                    '>'+
                    '<input type="hidden" name="btntype" value='+
                    buttontemp+
                    '>'+
                    '<input type="submit" value="Edit!" class=" btn btn-success"><%end%>'+
                    '<p>'+
                    event.latLng.lat()+
                    '<br>'+
                    event.latLng.lng()+
                    '</p>'+
                    '</div>';    
           
            //infowindow.setContent(temps);
            //infowindow.open(map, marker, temps);
            infoBubble3.setContent(temps);
            infoBubble3.open(map, marker, temps);
        })
        google.maps.event.addListener(infoBubble3, 'closeclick', function(){
            location.href='/';
        })

    })(marker);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xWsRsM--vAOE_I9dv-ljLh-nO6IU0pU&signed_in=false&libraries=places&callback=initMap"></script>
